{% extends 'base.html' %}
{% load static %}
{% block title %}Найти друзей{% endblock %}
{% block content %}
        <form method="GET" class="form-inline tm-mb-80 tm-search-form">
            <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
            <button class="tm-search-button" type="submit">
                <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
            </button>
        </form>

<div class="container">
    {% for user in users %}
    <div class="row">
    <div class="col-md-1">
        {% if user.photo %}
            <img src="{{ user.photo.url }}" class="circle">
        {% else %}
            <img src="https://api.lorem.space/image/fashion?w=300&h=200" class="round">
        {% endif %}
    </div>
    <div class="col-md-3">
        <a href="{{ user.get_absolute_url }}">{{ user.first_name }} {{ user.last_name }} </a>
    </div>
    <div class="col-md-8" align=”right”>
     <button class="btn btn-primary" style="background-color: #0CC; border-color: #0CC; float: right"><a href="{% url 'login' %}" style="color: white">Добавить в друзья</a></button>
    </div>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}