<nav class="navbar navbar-expand-lg bg-light">
    <span class="collapse navbar-collapse" id="navbarNav">

    </span>

    <span class="navbar-text">
      {% if request.user.is_authenticated %}
        Здравствуйте, {{ user.first_name }}!       <button class="btn btn-primary" style="background-color: #0CC; border-color: #0CC">
                    <a href="#" style="color: white">Новый пост</a></button>
        <button class="btn btn-primary" style="background-color: #0CC; border-color: #0CC">
                    <a href="{% url 'logout' %}" style="color: white">Выход</a></button>
      {% else %}
        <button class="btn btn-primary" style="background-color: white; border-color: #0CC"><a href="{% url 'register' %}" style="color: #0CC">Регистрация</a></button>
        <button class="btn btn-primary" style="background-color: white; border-color: #0CC"><a href="{% url 'login' %}" style="color: #0CC">Авторизация</a></button>
      {% endif %}
    </span>
</nav>