<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="tm-site-header">
            <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>
            <h1 class="text-center">My social network</h1>
        </div>
        <nav class="tm-nav" id="tm-nav">
            <ul>
                <li class="tm-nav-item active"><a href="#" class="tm-nav-link">
                    <i class="fas fa-home"></i>
                    Home
                </a></li>
                <li class="tm-nav-item"><a href="#" class="tm-nav-link">
                    <i class="fas fa-pen"></i>
                    Messages
                </a></li>
                <li class="tm-nav-item"><a href="#" class="tm-nav-link">
                    <i class="fas fa-users"></i>
                    Posts list
                </a></li>
            </ul>
        </nav>
    </div>
</header>